# Hugo ignores
/public/
/resources/_gen/
/data/
/tmp/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Node.js (if you use it for postcss, etc.)
/node_modules/

# Editor files
.vscode/
.idea/